* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #E28625;
    --green: #006971;
    --dark-green: #004140;

}

.sedans {
    background-color: var(--orange);
}

.suvs {
    background-color: var(--green);
}

.luxuosos {
    background-color: var(--dark-green);
}